<div class="wrapper wrapper-content animated fadeInLeft">
<div class="lets-message">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i> </div>
                 <input type="text" placeholder="Zoeken op naam, adres, telefoon, etc.." class="form-control" name="top-search" id="top-search" ng-model="c.search">
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
<div ng-repeat="member in members" class="col-lg-4">
    <div class="contact-box">
        <a ui-sref="lets.profile">
            <div class="col-sm-4">
                <div class="text-center">
                    <img alt="image" class="img-circle m-t-xs img-responsive" ng-src="{{baseUrl}}{{member.$$meta.permalink}}/profile.png">
                </div>
            </div>
            <div class="col-sm-8">
                <h3><strong>{{member.name}}</strong></h3>

                <address>
                    <span ng-show="member.$$addresses[0]">
                        {{member.$$addresses[0].street}} {{member.$$addresses[0].streetnumber}}<br>
                        {{member.$$addresses[0].postalcode}} {{member.$$addresses[0].city}}<br>
                    </span>
                    <span ng-show="member.$$emails[0]"><abbr title="Email">Email:</abbr> {{member.$$emails[0].value}}<br></span>
                    <span ng-show="member.$$phones[0]"><abbr title="Phone">Phone:</abbr> {{member.$$phones[0].value}}<br></span>
                    Saldo : 100
                </address>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>
</div>
</div>