<div ng-controller="EventsController as c">
    <div class="wrapper wrapper-content animated fadeInRight">
    <!--              -->
    <!-- Classic view -->
    <!--              -->
        <!-- search criteria -->
        <div class="lets-message">

            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i> </div>
                         <input type="text" placeholder="Zoeken op sleutelwoord, tag, naam plaatser, etc.." class="form-control" name="top-search" id="top-search" ng-model="c.search">
                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="c.distance" btn-radio="2" title="max. 2 km"><i class="fa fa-male"></i></label>
                        <label class="btn btn-primary" ng-model="c.distance" btn-radio="8" title="max. 8 km"><i class="fa fa-bicycle"></i></label>
                        <label class="btn btn-primary" ng-model="c.distance" btn-radio="16" title="max. 16 km"><i class="fa fa-car"></i></label>
                        <label class="btn btn-primary" ng-model="c.distance" btn-radio="50000" title="Geen beperking op afstand">Alles</i></label>

                    </div>
                    
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="c.groups" btn-radio="'local'" title="LETS Regio Dendermonde (Alle groepen waar je lid bent)"><i class="fa fa-group"></i></label>
                        <label class="btn btn-primary" ng-model="c.groups" btn-radio="'global'" title="LETS Vlaanderen"><i class="fa fa-globe"></i></label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" ng-show="c.classic">
            <div class="col-lg-8">
                <!--
                <div>
                    <i class="fa fa-cogs"></i>
                    <a ng-click="c.classic = !c.classic" ng-hide="c.classic"> Klassiek</a>
                    <a ng-click="c.classic = !c.classic" ng-show="c.classic"> Gebeurtenissen</a>
                </div>
                -->
                <br>
                <!-- new message form -->
                <div class="lets-message">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" placeholder="Plaats een nieuw bericht..." ng-model="c.newbody"></textarea>
                            </div>
                        </div>
                        <div ng-show="c.newbody.length > 0">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Titel</label>
                                <div class="col-sm-9"><input type="text" class="form-control"></div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Goed / Dienst</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="c.goodorservice">
                                        <option value="good">Goed</option>
                                        <option value="service">Dienst</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Aanbod / Vraag</label>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-model="c.offerorrequest">
                                        <option value="offer">Aanbod</option>
                                        <option value="request">Vraag</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="c.goodorservice == 'service'">
                                <label class="col-sm-3 control-label">Evenement ?</label>
                                <div class="col-sm-1">
                                    <div class="checkbox"><label><input type="checkbox" ng-model="c.newevent"> </label></div>
                                </div>
                                <div class="col-sm-6 col-sm-offset-2" ng-show="c.newevent">
                                    <datepicker ng-model="c.eventdate" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
                                </div>
                            </div>
                            <div class="form-group" ng-show="c.goodorservice == 'good'">
                                <label class="col-sm-3 control-label">Uitlenen ?</label>
                                <div class="col-sm-1">
                                    <div class="checkbox"><label><input type="checkbox" ng-model="c.loan"> </label></div>
                                </div>
                            </div>
                                
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tags</label>
                                <div class="col-sm-9">
                                    <ui-select multiple ng-model="c.multipleDemo.colors" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
                                        <ui-select-match placeholder="Voeg categorieën toe...">{{$item}}</ui-select-match>
                                        <ui-select-choices repeat="color in c.availableColors | filter:$select.search">
                                              {{color}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-offset-8 col-sm-4">
                                    <a class="btn btn-primary" type="submit" ng-click="c.newbody = ''">Plaatsen</a>
                                    <a class="btn btn-primary" type="submit" ng-click="c.newbody = ''">Annuleren</a>    
                                </div>
                            </div>
                        </div><!-- show if body filled in -->
                    </form>
                </div>
                <!-- new message form -->
            
                <br>
            
                <div class="lets-message-title">
                    <h3>Vraag</h3>
                </div>
                <div ng-repeat="event in c.events | filter:c.search">                
                    <div ng-show="event.type === 'message' && event.demand">
                        <div class="lets-message" ng-hide="event.$read">
                            <a ui-sref="lets.profile">
                                <img alt="image" class="img-circle pull-left" ng-src="{{event.img}}" width="40" style="margin-right: 8px">
                            </a>

                            <div class="media-body ">
                                <small class="pull-right text-navy">1 minuut geleden</small>
                                <a ui-sref="lets.profile"><strong>({{event.person}})</strong></a> <b>{{event.title}}</b> - {{event.message}}
                            </div>

                            <div class="lets-message-responses">
                                <small class="text-muted">

                                    <div ng-repeat="response in event.responses">
                                        <img class="img-circle" src="img/profile_small.jpg" width="30" style="margin-right: 8px; margin-bottom: 4px;"> <i>{{response.person}}</i> : {{response.message}}
                                    </div>

                                    <div ng-show="event.$enteringResponse" class="text-right">
                                        <textarea class="form-control" placeholder="Geef je reactie in..."></textarea>
                                        <div style="margin-top: 4px">
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringResponse = false">Sturen</a>
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringResponse = false">Annuleren</a>
                                        </div>
                                    </div>
                                    <div ng-show="event.$enteringTransaction" class="text-right">
                                            Ik stuur <input type="text" size="3"></text> duimkes naar {{event.person}}. 
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringTransaction = false">Sturen</a>
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringTransaction = false">Annuleren</a>
                                    </div>
                                    <div style="padding-top: 5px"></div>
                                    <div class="text-right">
                                        <a ng-click="event.$enteringResponse = true; event.$enteringTransaction = false;" class="btn btn-primary btn-sm" title="Publiek reageren"><i class="fa fa-bullhorn"></i></a>
                                        <a ng-click="event.$enteringResponse = true; event.$enteringTransaction = false;" class="btn btn-primary btn-sm"><i class="fa fa-comment" title="Privé Reageren"></i></a>
                                        <a ng-click="event.$enteringTransaction = true; event.$enteringResponse = false;" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" title="Waarderen"></i></a>
                                    </div>
                                </small>
                            </div>
                        </div>
                    </div>
                </div> <!-- ng-repeat type: message demand -->
            
                <br>
            
                <div class="lets-message-title">
                    <h3>Aanbod</h3>
                </div>
                <div ng-repeat="event in c.events | filter:c.search">                
                    <div ng-show="event.type === 'message' && event.offer">
                        <div class="lets-message" ng-hide="event.$read">
                            <a ui-sref="lets.profile">
                                <img alt="image" class="img-circle pull-left" ng-src="{{event.img}}" width="40" style="margin-right: 8px">
                            </a>

                            <div class="media-body ">
                                <small class="pull-right text-navy">1 minuut geleden</small>
                                <a ui-sref="lets.profile"><strong>({{event.person}})</strong></a> <b>{{event.title}}</b> - {{event.message}}
                            </div>

                            <div class="lets-message-responses">
                                <small class="text-muted">

                                    <div ng-repeat="response in event.responses">
                                        <img class="img-circle" src="img/profile_small.jpg" width="30" style="margin-right: 8px; margin-bottom: 4px;"> <i>{{response.person}}</i> : {{response.message}}
                                    </div>

                                    <div ng-show="event.$enteringResponse" class="text-right">
                                        <textarea class="form-control" placeholder="Geef je reactie in..."></textarea>
                                        <div style="margin-top: 4px">
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringResponse = false">Sturen</a>
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringResponse = false">Annuleren</a>
                                        </div>
                                    </div>
                                    <div ng-show="event.$enteringTransaction" class="text-right">
                                            Ik stuur <input type="text" size="3"></text> duimkes naar {{event.person}}. 
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringTransaction = false">Sturen</a>
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringTransaction = false">Annuleren</a>
                                    </div>
                                    <div style="padding-top: 5px"></div>
                                    <div class="text-right">
                                        <a ng-click="event.$enteringResponse = true; event.$enteringTransaction = false;" class="btn btn-primary btn-sm" title="Publiek reageren"><i class="fa fa-bullhorn"></i></a>
                                        <a ng-click="event.$enteringResponse = true; event.$enteringTransaction = false;" class="btn btn-primary btn-sm"><i class="fa fa-comment" title="Privé Reageren"></i></a>
                                        <a ng-click="event.$enteringTransaction = true; event.$enteringResponse = false;" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up" title="Waarderen"></i></a>
                                    </div>
                                </small>
                            </div>
                        </div>
                    </div>
                </div> <!-- ng-repeat type: message offer -->

            </div>
            <div class="col-lg-4">
                <div ng-repeat="event in c.events">
                    <div ng-show="event.type == 'person'">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                                <h2 class="font-bold no-margins">
                                    {{event.firstname}} {{event.lastname}}
                                </h2>
                                <small>Nieuw Lid</small>
                            </div>
                            <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">

                            <div>
                                <p>Hobbies : Informatica, Duurzaam leven, FabLab Dendermonde.</p>
                            </div>

                            <div ng-repeat="item in event.messages">
                                <div>
                                <span>{{item.title}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- repeat type: persons -->

                <div ng-repeat="event in c.events">
                    <div ng-show="event.type == 'event'">
                        <div class="widget lazur-bg">
                            <h2><em>{{event.date}}</em> : {{event.title}}</h2>
                            <p>{{event.message}}</p>
                            <div><img class="img-circle" src="img/a7.jpg" width="30" style="margin-right: 8px">{{event.person}}</div>
                            <div><a>Inschrijven</a></div>
                        </div> 
                    </div> <!-- type: event -->
                </div> <!-- repeat type: persons -->

                <div ng-repeat="txn in c.transactions">
                    <div ng-show="txn.to === 'Nathalie Gols'">
                        <div class="widget lazur-bg" ui-sref="app.transactions" style="cursor: pointer;">
                            <span class="fa fa-thumbs-up m-r-xs"> {{txn.amount}} duimkes van {{txn.from}} ({{txn.message}})</span>
                        </div>
                    </div>
                </div> <!-- repeat type: transactions -->
<!--
                <div class="widget yellow-bg p-lg text-center" style="cursor: pointer;" ui-sref="app.transactions">
                    <div class="m-b-md">
                        <i class="fa fa-thumbs-up fa-4x"></i>

                        <h1 class="m-xs">32</h1>

                        <h3 class="font-bold no-margins">
                        Transacties in april !
                    </h3>
                    </div>
                </div>
-->
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>

                        <h1 class="m-xs">Saldo</h1>

                        <small>Je hebt de maximum grens (bijna) bereikt.</small>
                    </div>
                </div>

            </div>
        </div>

<!--               -->
<!-- Events stream -->
<!--               -->

        <div class="row" ng-hide="c.classic">
            <div class="col-lg-9">
                <div>
                    <i class="fa fa-cogs"></i>
                    <a ng-click="c.classic = !c.classic" ng-hide="c.classic"> Klassiek</a>
                    <a ng-click="c.classic = !c.classic" ng-show="c.classic"> Gebeurtenissen</a>
                </div>
                
                <div class="lets-message">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Plaats een nieuw bericht..." ng-model="c.newbody"></textarea>
                        </div>
                        <div ng-show="c.newbody.length > 0">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Titel</label>
                                <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Soort</label>
                                <div class="col-sm-10">
                                    <div class="radio"><label> <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Vraag </label></div>
                                    <div class="radio"><label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Aanbod </label></div>
                                    <div class="radio"><label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> Evenement </label></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tags</label>
                                <div class="col-sm-10"><input type="text" class="form-control" value="Dienst"></div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10" style="padding-top: 10px; padding-bottom: 10px; padding-left: 25px;">
                                    <a class="btn btn-xs btn-primary" type="submit" ng-click="c.newbody = ''">Plaatsen</a>
                                </div>
                            </div>
                        </div><!-- show if body filled in -->
                    </form>
                </div>

                <div ng-repeat="event in c.events">
                    <div ng-show="event.type === 'message'">
                        <div class="lets-message">
                            <img alt="image" class="img-circle pull-left" ng-src="{{event.img}}" width="40" style="margin-right: 8px">

                            <div class="media-body ">
                                <small class="pull-right text-navy">3 minuut geleden</small>
                                <strong>({{event.person}})</strong> <b>{{event.title}}</b> - {{event.message}}
                            </div>

                            <small class="text-muted">
                                <div class="lets-message-responses">
                                    <div ng-repeat="response in event.responses">
                                        <img class="img-circle" src="img/profile_small.jpg" width="15" style="margin-right: 8px; margin-bottom: 4px;"> <i>{{response.person}}</i> : {{response.message}}
                                    </div>

                                    <div ng-show="event.$enteringResponse" class="animate-show">
                                        <textarea class="form-control" placeholder="Geef je reactie in..."></textarea>
                                        <div style="margin-top: 4px">
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringResponse = false">Sturen</a>
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringResponse = false">Annuleren</a>
                                        </div>
                                    </div>
                                    <div ng-show="event.$enteringTransaction">
                                        <small>
                                            Ik stuur <input type="text" size="3"></text> duimkes naar {{event.person}}. 
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringTransaction = false">Sturen</a>
                                            <a class="btn btn-primary btn-xs" ng-click="event.$enteringTransaction = false">Annuleren</a>
                                        </small>
                                    </div>

                                    <div>
                                        <a ng-click="event.$enteringResponse = true; event.$enteringTransaction = false;">Publiek Reageren</a>&nbsp;
                                        <a ng-click="event.$enteringResponse = true; event.$enteringTransaction = false;">Privé Reageren</a>&nbsp;
                                        <!--<a ng-click="event.$read = true">Gelezen</a>&nbsp;-->
                                        <span style="margin-left: 8px">
                                            <a ng-click="event.$enteringTransaction = true; event.$enteringResponse = false;">Waarderen</a>
                                        </span>
                                    </div>
                                </div>
                            </small>
                        </div>
                    </div>

                    <div ng-show="event.type === 'transaction'">
                        <div class="widget lazur-bg" ui-sref="app.transactions" style="cursor: pointer;">
                            <span class="fa fa-thumbs-up m-r-xs"> ({{event.from}} aan {{event.to}}) {{event.description}}</span>
                        </div>
                    </div>

                    <div ng-show="event.type == 'person'">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="m-b-md">
                                            <h2 class="font-bold no-margins">
                                                Bart De Backer
                                            </h2>
                                            <small>Nieuw Lid</small>
                                        </div>
                                        <img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <p>Hobbies : Informatica, Duurzaam leven, FabLab Dendermonde.</p>
                                        </div>

                                        <div>
                                            <span>(Aanbod) Kinderoppas.</span>
                                        </div>
                                        <div>
                                            <span>(Vraag) Hulp in de tuin.</span>
                                        </div>
                                        <div>
                                            <span>(Aanbod) Vegetarische Lasagne.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div> <!-- type : person -->

                    <div ng-show="event.type == 'event'">
                        <div class="widget lazur-bg">
                            <h2>{{event.date}} : {{event.title}}</h2>
                            <p>{{event.message}}</p>
                            <div><img class="img-circle" src="img/a7.jpg" width="30" style="margin-right: 8px">{{event.person}}</div>
                            <div><a>Inschrijven</a></div>
                        </div> 
                    </div> <!-- type: event -->
                </div>
                <!-- ng-repeat -->
            </div>
            <div class="col-lg-3">
                <div class="widget yellow-bg p-lg text-center" style="cursor: pointer;" ui-sref="app.transactions">
                    <div class="m-b-md">
                        <i class="fa fa-thumbs-up fa-4x"></i>

                        <h1 class="m-xs">32</h1>

                        <h3 class="font-bold no-margins">
                        Transacties in april !
                    </h3>
                    </div>
                </div>
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>

                        <h1 class="m-xs">Saldo</h1>

                        <small>Je hebt de maximum grens (bijna) bereikt.</small>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- animation wrapper -->
</div><!-- ng-controller -->