<div>
    <div class="wrapper wrapper-content animated fadeIn">
    <!--              -->
    <!-- Classic view -->
    <!--              -->
        <!-- search criteria -->
        <div class="lets-message">

            <div class="row">
                <div class="col-md-8">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i> </div>
                         <input type="text" placeholder="Zoeken op sleutelwoord, tag, naam plaatser, etc.." class="form-control" name="top-search" id="top-search" ng-model="search">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="distance" btn-radio="2" title="max. 2 km"><i class="fa fa-male"></i></label>
                        <label class="btn btn-primary" ng-model="distance" btn-radio="8" title="max. 8 km"><i class="fa fa-bicycle"></i></label>
                        <label class="btn btn-primary" ng-model="distance" btn-radio="16" title="max. 16 km"><i class="fa fa-car"></i></label>
                        <label class="btn btn-primary" ng-model="distance" btn-radio="50000" title="Geen beperking op afstand">Alles</i></label>

                    </div>

                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="groups" btn-radio="'local'" title="LETS Regio Dendermonde (Alle groepen waar je lid bent)"><i class="fa fa-group"></i></label>
                        <label class="btn btn-primary" ng-model="groups" btn-radio="'global'" title="LETS Vlaanderen"><i class="fa fa-globe"></i></label>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row" ng-show="classic">
            <div class="col-lg-8">
                <div class="lets-message-title">
                    <a class="pull-right" ng-click="createMessage()">Nieuw bericht maken</a>
                    <h3>Vraag</h3>
                </div>
                <div ng-repeat="event in events | filter:search">
                    <div ng-show="event.tags.indexOf('Vraag') != -1">
                        <message-viewer message="event" messages="events" base-url="baseUrl" me="me"></message-viewer>
                    </div>
                </div>

                <br>

                <div class="lets-message-title">
                    <h3>Aanbod</h3>
                </div>
                <div ng-repeat="event in events | filter:search">
                    <div ng-show="event.tags.indexOf('Aanbod') != -1">
                        <message-viewer message="event" messages="events" base-url="baseUrl" me="me"></message-viewer>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div ng-repeat="event in events">
                    <div ng-show="event.type == 'person'">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                                <h2 class="font-bold no-margins">
                                    {{event.firstname}} {{event.lastname}}
                                </h2>
                                <small>Nieuw Lid</small>
                            </div>
                            <!--<img src="img/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">-->

                            <div>
                                <p>Hobbies : Informatica, Duurzaam leven, FabLab Dendermonde.</p>
                            </div>

                            <div ng-repeat="item in event.messages">
                                <div>
                                <span>{{item.title}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- repeat type: persons -->

                <div ng-repeat="event in events">
                    <div ng-show="event.type == 'event'">
                        <div class="widget lazur-bg">
                            <h2><em>{{event.date}}</em> : {{event.title}}</h2>
                            <p>{{event.message}}</p>
                            <!--<div><img class="img-circle" src="img/a7.jpg" width="30" style="margin-right: 8px">{{event.person}}</div>-->
                            <div><a>Inschrijven</a></div>
                        </div>
                    </div> <!-- type: event -->
                </div> <!-- repeat type: persons -->

                <div ng-repeat="txn in transactions">
                    <div ng-show="txn.to === 'Nathalie Gols'">
                        <div class="widget lazur-bg" ui-sref="app.transactions" style="cursor: pointer;">
                            <span class="fa fa-thumbs-up m-r-xs"> {{txn.amount}} duimkes van {{txn.from}} ({{txn.message}})</span>
                        </div>
                    </div>
                </div> <!-- repeat type: transactions -->
<!--
                <div class="widget yellow-bg p-lg text-center" style="cursor: pointer;" ui-sref="app.transactions">
                    <div class="m-b-md">
                        <i class="fa fa-thumbs-up fa-4x"></i>

                        <h1 class="m-xs">32</h1>

                        <h3 class="font-bold no-margins">
                        Transacties in april !
                    </h3>
                    </div>
                </div>
-->
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-warning fa-4x"></i>

                        <h1 class="m-xs">Saldo</h1>

                        <small>Je hebt de maximum grens (bijna) bereikt.</small>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- animation wrapper -->
</div><!-- ng-controller -->