<div>
  <div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
      <div class="col-md-4">
        <div class="lets-message-title">
          <h3>Profiel</h3>
        </div>
        <div class="lets-message">
          <div>
            <div class="text-center">
              <img alt="image" class="img-circle" src="{{baseUrl}}{{profile.$$meta.permalink}}/profile.png" width=240>
            </div>
            <div>
              <h4><strong>{{profile.name}}</strong></h4>

              <address>
                <span ng-show="profile.$$addresses[0]">
                    {{profile.$$addresses[0].street}} {{profile.$$addresses[0].streetnumber}}<br>
                    {{profile.$$addresses[0].postalcode}} {{profile.$$addresses[0].city}}<br>
                </span>
                <span ng-show="profile.$$emails[0]"><abbr title="Email">Email:</abbr> {{profile.$$emails[0].value}}<br></span>
                <span ng-show="profile.$$phones[0]"><abbr title="Phone">Phone:</abbr> {{profile.$$phones[0].value}}<br></span>
              </address>
<!--
              <h5>Hobby's</h5>

              <ul>
                <li>Tuinieren</li>
                <li>Ambachtelijke aperitieven maken</li>
                <li>Cooking, with plant-power !</li>
              </ul>
-->
              <div class="row m-t-lg">
                <div class="col-md-6">
                  <h5><i class="fa fa-thumbs-up"></i><strong> {{transactions.length}}</strong> Transacties</h5>
                </div>
                <div class="col-md-6">
                  <h5><strong>{{profile.$$balance}}</strong> Duimkes</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-envelope"></i> Contacteren</button>
                  <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-up"></i> Waarderen</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="lets-message-title">
          <h3>Berichten</h3>
        </div>
        <div ng-repeat="message in messages">
          <div ng-show="message.tags.indexOf('Vraag') != -1 || message.tags.indexOf('Aanbod') != -1">
            <message message="message" base-url="baseUrl"></message>
          </div>
        </div> <!-- ng-repeat type: message demand -->

        <br>

        <div class="lets-message-title">
          <h3>Waarderingen</h3>
        </div>
        <div class="lets-message">
          <table class="table table-condensed">
            <tr ng-repeat="txn in transactions">
              <td>{{txn.from.$$expanded.name}}</td>
              <td>aan</td>
              <td>{{txn.to.$$expanded.name}}</td>
              <td>{{txn.description}}</td>
              <td class="text-right">{{txn.amount}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>