<div class="lets-message" ng-hide="message.$read">
    <a ui-sref="lets.profile({key: message.author.$$expanded.key})">
        <img alt="image" class="img-circle pull-left" ng-src="{{baseUrl}}{{message.author.href}}/profile.png" width="40" style="margin-right: 8px">
    </a>

    <div class="media-body ">
        <a ui-sref="lets.profile({key: message.author.$$expanded.key})"><strong>({{message.author.$$expanded.name}})</strong></a> <b>{{message.title}}</b> - {{message.description}}
        <small class="pull-right text-navy">1 minuut geleden</small>
    </div>

    <div class="lets-message-responses">
        <small class="text-muted">
            <div ng-repeat="response in message.$$reactions">
                <img class="img-circle" src="{{baseUrl}}{{response.$$expanded.author.href}}/profile.png" width="30" style="margin-right: 8px; margin-bottom: 4px;"> <i>{{response.$$expanded.author.$$expanded.name}}</i> : {{response.$$expanded.description}}
            </div>
            <div style="padding-top: 5px"></div>
            <div class="text-right">
                <a class="btn btn-primary btn-sm" ng-click=""><i class="fa fa-comment"></i> Reageren</a>
                <a ng-show="message.author.href != me.$$meta.permalink" class="btn btn-primary btn-sm" ng-click="createTransaction(message.author.href)" ><i class="fa fa-thumbs-up" title="Waarderen"></i> Waarderen </a>
                <a ng-show="message.author.href == me.$$meta.permalink" class="btn btn-primary btn-sm" ng-click="deleteMessage(message)"><i class="fa fa-trash"></i> Verwijderen</a>
            </div>
        </small>
    </div>
</div>
